<!DOCTYPE html>

{% load staticfiles %}
<!-- ^^informs Django’s template engine that we will be using static files within the template -->
<!-- Template tags are denoted by curly brackets -->
<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        <div>
            hey there partner!<br/>
            <strong>{{boldmessage}}</strong><br /> 
            <!-- ^^ bold message = django template variable, strong = define text with strong importance.-->
        </div>
        <div>
            <a href="/rango/about/">About</a><br />

            <img src="{% static 'images/rango.jpg' %}"
                 alt="Picture of Rango" />
        </div>
    </body>

</html>